{% if form.non_field_errors %}
  <div class="form-error">{{ form.non_field_errors }}</div>
{% endif %}

{% for field in form %}
  <div class="form-field {% if field.field.widget.input_type == 'checkbox' %}form-field-checkbox{% endif %}">
    {% if field.field.widget.input_type == 'checkbox' and field.field.widget.allow_multiple_selected %}
      <fieldset>
        <legend>{{ field.label }}</legend>
        {{ field }}
      </fieldset>
    {% elif field.field.widget.input_type == 'checkbox' %}
      <label class="checkbox-label">
        {{ field }}
        <span>{{ field.label }}</span>
      </label>
    {% else %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
    {% endif %}
    {% if field.help_text %}
      <p class="help-text">{{ field.help_text }}</p>
    {% endif %}
    {% for error in field.errors %}
      <div class="field-error">{{ error }}</div>
    {% endfor %}
  </div>
{% endfor %}
